/*? CSS RESET */
*{
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

body{
  font-size: 100%;
  font-family: sans-serif;
}

div, section, span, ul, li, a, header{
  box-sizing: border-box;
}
/*!-------------------------------------------------------------------------------------------------------- */
/**-------------------------------------------------------------------------------------------------------- */
/*? NAVBAR  */
#home h2, #menu li{
  list-style: none;
  display: inline-block;
  margin: 20px;
}

#home h2, #menu li a{
  color: #CAD2C5;
  text-decoration: none;
  font-size: 20px;
}

header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  align-items: center;
  position: fixed;
  z-index: 999;
}
/*!-------------------------------------------------------------------------------------------------------- */
/**-------------------------------------------------------------------------------------------------------- */
/*? MAIN STYLING - UTILITY CLASSES */
#home, #projects, #about, #contact{
  background-color: #2F3E46;
}

#projects h1, #about h1, #contact h1{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #CAD2C5;
}

h1 {
  font-size: 4rem;
}

section{
  width: 100%;
  float: left;
  height: 100vh;
  position: relative;
}

/* COLORS:  2F3E46 - 354F52 - 52796F - 84A98C - CAD2C5  */ 
.text-primary {
  color: #CAD2C5;
}

.text-secondary {
  color: #52796F;
}

.text-tertiary {
  color: #84A98C;
}

.text-soft {
  color: #CAD2C5;
  opacity: 60%;
}

.icon-color {
  color: #CAD2C5;
}

/* TEXT SIZING */



 /* TEXT ALIGNMENT */
 .text-center {
  text-align:center;
}

.text-left {
  text-align:left;
}




/*!-------------------------------------------------------------------------------------------------------- */
/**-------------------------------------------------------------------------------------------------------- */
/*? HOME - SHOWCASE */

#home h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #CAD2C5;

}

.text-above-title{
  position: absolute;
  top: 45%;
  left: 42.7%;
  transform: translate(-50%, -50%);
}

.text-below-title{
  position:absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
}




/*!-------------------------------------------------------------------------------------------------------- */
/**-------------------------------------------------------------------------------------------------------- */
/*? PROJECTS */






/*!-------------------------------------------------------------------------------------------------------- */
/**-------------------------------------------------------------------------------------------------------- */
/*? ABOUT */





/*!-------------------------------------------------------------------------------------------------------- */
/**-------------------------------------------------------------------------------------------------------- */
/*? CONTACT */




/*!-------------------------------------------------------------------------------------------------------- */
/**-------------------------------------------------------------------------------------------------------- */
/*? FOOTER */

